<div class="body">
  <div>
    <h1 class="color-white fts-42">À propos de moi</h1>
    <p class="color-white fts-24">
      <span>
          Je suis étudiant en BTS SIO(Services informatiques aux organisations)
          et spécialisé dans le développement.
      </span>
      <span>
        J’ai obtenu mon BAC spécialité (informatiques, mathématiques et audiovisuelles)
        avec mention assez bien.
      </span>
      <span>
        Je souhaite continuer de me former en informatique et je pense que le BTS SIO est la formation qu'il me faut.
        Je suis a la recherche de nouvelle expérience dans le monde du numérique.
      </span>
      <span>
        Je possède également le permis B.
      </span>
    </p>
  </div>

  <div>
    <h3 class="color-purple fts-30 mg-t-10">Objectif Professionnel</h3>
    <p class="color-white fts-24">
      <span>
        J’ai comme projet de devenir développer full stack.
        J’aimerais également m’orienter vers du DevOps dans le futur .
      </span>
      <span>
        Après ma formation au sein du BTS SIO(Services informatiques aux
        organisations), je voudrais m’orienter vers une licence MIAGE(Méthodes informatiques appliquées à la gestion des entreprises).
      </span>
      <span>
        Suite à cela, je m’orienterais vers un master MIAGE(Méthodes informatiques appliquées à la gestion des entreprises) en alternance.
      </span>
    </p>
  </div>



















  <div id="cv" class="mg-t-20">
    <img id="cv_img" src="assets/Image/CV_Desfontaine.png">
  </div>


</div>



<footer class="mg-t-10">
  <app-footer></app-footer>
</footer>
