/* Styles pour centrer le contenu et ajouter de la marge */
.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  max-width: 800px; /* Choisir la largeur maximale que vous souhaitez */
  padding: 20px;
}

/* Style pour le titre h1 */
.color-white {
  color: white;
}

.txt-center {
  text-align: center;
}

.fts-42 {
  font-size: 42px;
}

/* Style pour le sous-titre h2 */
.color-purple {
  color: purple;
}

/* Style pour le texte paragraphe */
.color-white {
  color: white;
}

/* Style pour le pied de page */
.mg-t-10 {
  margin-top: 10px;
}
