<div class="body">

    <h1 class="color-white txt-center fts-42">Gestion du patrimoine</h1>

    <div>
      <h2 class="txt-center color-purple">La gestion de patrimoine au sein de Skazy</h2>

      <p class="txt-center color-white">
        La gestion de patrimoine au sein de notre entreprise informatique, Skazy, englobe la gestion et l'optimisation de tous nos actifs liés à notre domaine d'expertise. Cela englobe la prise en charge des équipements informatiques tels que les ordinateurs, serveurs, logiciels, ainsi que la gestion précise de la propriété intellectuelle, des licences et des brevets.
      </p>

      <p class="txt-center color-white">
        Cette gestion proactive inclut la planification des investissements dans de nouveaux équipements et technologies adaptés à notre secteur, ainsi que l'élaboration de stratégies pour maintenir, réparer et remplacer efficacement les actifs existants. Nous maintenons un suivi méticuleux de nos actifs en utilisant GitLab, notre principal outil, où nous centralisons également la gestion des projets, des problèmes, des missions futures et bien d'autres éléments essentiels.
      </p>

      <p class="txt-center color-white">
        Par ailleurs, la gestion de patrimoine informatique intègre également la gestion des données de l'entreprise, la sécurisation des informations sensibles et la mise en place de systèmes de sauvegarde pour garantir la protection et la récupération de données cruciales en cas de situation critique ou de panne.
      </p>

      <p class="txt-center color-white">
        L'objectif ultime de cette gestion de patrimoine est de maximiser la valeur de nos actifs informatiques tout en minimisant les coûts et les risques associés à leur utilisation. Cette démarche est cruciale pour assurer la pérennité et la compétitivité de Skazy dans un environnement économique fortement concurrentiel, notamment avec notre utilisation de Kubernetes pour nos projets Docker et notre organisation rigoureuse via GitLab pour gérer l'ensemble de nos activités, projets et collaborations. Nous sommes plus d'une soixantaine de salariés répartis dans différents pôles.
      </p>
    </div>
  </div>

  <footer class="mg-t-10">
    <app-footer></app-footer>
  </footer>
