
.body{
  padding: 7vh 9vw 0vh 9vw; // bas gauche haut droite bghd
}

#box-article{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;
}


#description{

  span::after { // line break after each span
    content: "\A";
    white-space: pre;
  }

}

#image-veille-outil{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content:space-around;

  .img-feedly{
    width: 24vw;
    height: 24vh;
  }
  .img-rss{
    width: 16vw;
    height: 24vh;
  }

  .img-chuck{
    width: 15vw;
    height: 28vh;
  }

  .img-undurscore{
    width: 15vw;
    height: 28vh;
  }
}
