<div *ngFor="let project of projects" class="card">
  <div class="card-header">
    <a href="{{project.html_url}}" target="_blank">{{project.name}}</a>
    <span class="badge">{{project.language}}</span>
  </div>
  <div class="card-body">
    <p>{{project.description}}</p>
    <div *ngIf="project.description">
      <hr>
      <div [innerHTML]="project.imageURL"></div>
      <a href="{{project.homepage}}" target="_blank">View Web-Site</a>
    </div>
  </div>
  <div class="card-footer">
    <span>{{project.stargazers_count}} stars</span>
    <span class="pushed-at">{{project.pushed_at | date}}</span>
  </div>
</div>

